process {
    withLabel:  fasttree    { container = 'nanozoo/fasttree:2.1.10--1473542'}   
    withLabel:  toytree     { container = 'nanozoo/toytree:1.1.2--1295ae6' }
    withLabel:  snippy      { container = 'nanozoo/snippy:4.6.0--2f6637b' }
    withLabel: ggplot2      { container = 'nanozoo/ggplot2:3.5.1--819814a' }
    withLabel: seqkit       { container = 'nanozoo/seqkit:2.6.1--022e008'}
    withLabel: ubuntu       { container = 'nanozoo/template:3.8--21e23c9' }
}
