
process {             

    withLabel: ubuntu           { cpus = 4 ; memory = '12 GB'; disk = '200 GB' }
    withLabel: fasttree         { cpus = params.max_cores ; memory = '8 GB'; disk = '50 GB' }
    withLabel: toytree          { cpus = params.max_cores ; memory = '8 GB'; disk = '50 GB' }
    withLabel: snippy           { cpus = params.max_cores ; memory = '16 GB'; disk = '100 GB' } 
    withLabel: mafft            { cpus = 16 ; memory = '20 GB' } 
    withLabel: seqkit           { cpus = 1 }
} 


