process { executor = 'local' }

process {
    withLabel: fasttree              { cpus = params.max_cores ; memory = '8 GB'; disk = '50 GB' }
    withLabel: toytree               { cpus = params.max_cores ; memory = '8 GB'; disk = '50 GB' }
    withLabel: snippy                { cpus = params.max_cores ; memory = '16 GB'; disk = '100 GB' }
    withLabel: trimming_ont         { cpus = params.max_cores }      
    withLabel: ubuntu               { cpus = 1 } 
}
