process { executor = 'local' }

process {
    withLabel: fasttree              { cpus = params.max_cores ; memory = '8 GB'; disk = '50 GB' }
    withLabel: toytree               { cpus = params.max_cores ; memory = '8 GB'; disk = '50 GB' }
    withLabel: snippy                { cpus = params.max_cores ; memory = '16 GB'; disk = '100 GB' }
    withLabel: trimming_ont          { cpus = params.max_cores }      
    withLabel: ubuntu                { cpus = 1 } 
    withLabel: mafft                 { cpus = params.max_cores ; memory = '8 GB' } 
    withLabel: r                     { cpus = 2 ; memory = '8 GB' } 
    withLabel: seqkit                { cpus = 1 ; memory = '4 GB'}
    withLabel: nwk_to_json           { cpus = 1 ; memory = '4 GB'}
}
